@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Playpen Sans", cursive;
}

.body-container {
  height: 100vh;
  background-color: black;
  padding: 1rem 4.8rem;
}

.body {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  color: #333;
  height: 97vh;
  background-color: #212529;
  border-radius: 3rem;
  overflow: hidden;
  /* background-color: #f1f3f5; */
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.container {
  padding: 1.6rem 3.2rem;
}

.primary-heading {
  font-size: 4.4rem;
  font-weight: 800;
}

.secondary-heading {
  font-size: 3.6rem;
  font-weight: 700;
}

.tertiary-heading {
  font-size: 3rem;
  font-weight: 600;
}

.quaternary-heading {
  font-size: 2.4rem;
  font-weight: 500;
}

/* ==================================== */
.user-profile-nav {
  height: 97vh;
  background-color: #212529;
  /* background-color: #ced4da; */
  color: #fff;
  z-index: 1;
}

.name {
  font-size: 3rem;
  font-weight: 800;
  padding: 2rem 0 2.4rem 0;
}

.profile-img {
  height: 15rem;
  width: 15rem;
  background: url("./../../../public/avatar2.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  position: relative;
}

.profile-img1::before {
  content: "";
  display: block;
  height: 16.5rem;
  width: 16.5rem;
  background-color: #fff;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: -1;
}

.profile-text {
  gap: 0rem;
}

.username {
  font-size: 2.4rem;
  font-weight: 700;
}

.userid {
  font-size: 1.6rem;
  font-weight: 200;
}

.profile-nav {
  padding: 0.8rem 0;
  width: 100%;
}

.list {
  list-style: none;
  gap: 0;
}

.list-item {
  width: 100%;
  text-align: center;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  color: #333;
  transition: all 0.3s ease;
}

.active:link,
.active:visited {
  background-color: #f1f3f5;
  color: #333;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.btn-profile-nav:link,
.btn-profile-nav:visited {
  display: block;
  width: 100%;
  color: #fff;
  font-size: 2rem;
  padding: 1.6rem 0;
  transition: all 0.3s ease;
}

.btn-profile-nav:hover {
  background-color: #f1f3f5;
  color: #333;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.logout {
  width: 100%;
  margin: auto auto 3rem;
  text-align: center;
}

.btn-logout:link,
.btn-logout:visited {
  display: block;
  width: 100%;
  color: #fff;
  font-size: 2rem;
  padding: 1.6rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  transition: all 0.3s ease;
}

.btn-logout:hover {
  background-color: #f1f3f5;
  color: #333;
  border-radius: 3rem;
}

/* ======================================= */
.user-space {
  /* display: grid; */
  /* grid-template-columns: 1fr 0.3fr; */
  overflow-y: scroll;
  background-color: #f1f3f5;
  border-radius: 3rem;
}

.user-space::-webkit-scrollbar {
  display: none;
}

/* ========================================== */
.back-cover {
  padding: 1rem 3.2rem;
  padding-right: 1.8rem;
  height: 35vh;
  /* grid-column: 1 / -1; */
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)),
    url("./../../../public/bgcover3.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

/* ============================================= */
.profile-section {
  /* height: 30rem; */
  background-color: #f1f3f5;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  gap: 2.4rem;
  padding: 3.2rem;
  /* background: hotpink; */
}

.profile-card-container {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0.4rem 0.8rem #777;
  position: relative;
}

.profile-card {
  padding: 2rem;
}

.profile-bio {
  font-size: 2rem;
}

.user-field-container {
  padding: 1.6rem 3.2rem;
  display: flex;
  position: absolute;
  bottom: 0;
  margin-bottom: 1.2rem;
  flex-direction: column;
  gap: 1.2rem;
}

.user-field {
  font-size: 1.6rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.profile-socials {
  position: relative;
}

.social-card {
  background-color: #fff;
  border-radius: 1rem;
  padding: 2.4rem;
  box-shadow: 0 0.4rem 0.8rem #777;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  position: relative;
}

.profile-img2 {
  align-self: center;
  position: relative;
}

/* .profile-img2::before {
  content: "";
  display: block;
  height: 16.5rem;
  width: 16.5rem;
  background-color: #000;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: -1;
} */

.social-links-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.social-link {
  font-size: 1.6rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.edit-btn:link,
.edit-btn:visited {
  border-radius: 1rem;
  padding: 0.4rem 0.8rem;
  font-size: 2rem;
}

.edit-btn:hover,
.edit-btn:active {
  /* background-color: #212529;
  color: #fff; */
  text-shadow: 0 0.2rem 0.4rem #777;
}

.edit-btn1:link,
.edit-btn1:visited {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.edit-btn2:link,
.edit-btn2:visited {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}
/* ============================================ */
.upcoming-events-section {
  background-color: #f1f3f5;
  padding: 1.6rem 3.2rem;
}

.card-container {
  padding: 3.2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 2.4rem;
}

.card {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0.2rem 0.4rem #777;
  overflow: hidden;
  transition: all 0.3s ease;
}

.card:hover {
  /* transform: translateY(-1rem); */
  box-shadow: 0 0.8rem 1.6rem #777;
}

.card-img {
  height: 20rem;
  background: url("./../../../public/bgcover3.jpg");
  background-size: cover;
  background-position: center;
}

.card-info {
  padding: 1.2rem 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.info-field-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.info-field {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.if-date {
  color: blue;
}

.if-time {
  color: orange;
}

.if-fees,
.if-reg-status,
.if-fees-paid,
.if-tickets,
.if-trans-status {
  color: green;
}

.if-reg,
.if-reg-close {
  color: red;
}

.if-rating,
.if-location {
  color: hotpink;
}

.know-more-btn:link,
.know-more-btn:visited {
  text-align: center;
  padding: 1.2rem 0;
  border-radius: 1rem;
  margin: 1rem 1.2rem;
  font-size: 1.8rem;
  border: 4px solid #212529;
  background-color: #212529;
  color: #fff;
  box-shadow: 0 0.1rem 0.2rem #777;
  transition: all 0.3s ease;
}

.know-more-btn:hover,
.know-more-btn:active {
  background-color: #fff;
  color: #333;
}

.add-card {
  background-color: #fff;
  border-radius: 1rem;
  border: 2px dashed #333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4.8rem;
  cursor: pointer;
  box-shadow: 0 0.2rem 0.4rem #777;
}

.previous-events-section {
  background-color: #f1f3f5;
  padding: 1.6rem 3.2rem;
}

/* =========================================== */
/* ========= EVENTS KNOW MORE PAGE =========== */
.btn-close:link,
.btn-close:visited {
  font-size: 3.2rem;
  color: #000;
  opacity: 0.6;
  position: fixed;
  top: 1.6rem;
  right: 6.4rem;
}

.btn-close:hover {
  opacity: 1;
}

/* ============================================== */
.event-details-section {
  background-color: #f1f3f5;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
}

.event-descrip {
  padding: 3.2rem;
  padding-right: 1.6rem;
  font-size: 2rem;
  font-weight: 500;
}

.event-registration {
  padding: 3.2rem;
  padding-left: 1.6rem;
}

.event-rev-section {
  padding: 3.2rem;
}

.details-card,
.reg-event-card,
.reg-rev-card,
.add-rev-card {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 2.4rem;
  border-radius: 1rem;
  box-shadow: 0 0.4rem 0.8rem #777;
  background-color: #fff;
}

.btn-reg-rev:link,
.btn-reg-rev:visited {
  font-size: 1.8rem;
  text-transform: uppercase;
  padding: 1.2rem 2.4rem;
  border: 4px solid green;
  background-color: green;
  color: #fff;
  text-align: center;
  border-radius: 1rem;
  /* margin: 0.8rem 1.2rem; */
  box-shadow: 0 0.1rem 0.2rem #777;
  transition: all 0.3s ease;
}

.btn-reg-rev:hover,
.btn-reg-rev:active {
  background-color: #fff;
  color: green;
}

/* =========================================== */
.event-reg-section {
  background-color: #f1f3f5;
  padding: 3.2rem;
}

table {
  margin: 1.6rem 0;
  width: 100%;
  font-size: 1.8rem;
  border-collapse: collapse;
}

th,
td,
tr {
  padding: 1.2rem 2.4rem;
  /* border: 1px solid #333; */
}

thead th {
  text-align: left;
  background-color: #212529;
  color: #fff;
}

tbody tr:nth-child(odd) {
  background-color: #eee;
}

tbody tr:nth-child(even) {
  background-color: #ddd;
}

/* =========================================== */

.reviews-container {
  padding: 1.2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.review-card {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0.4rem 0.8rem #777;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.star-ratings-container {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.rate-head {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  /* color: hotpink; */
}

.stars-container {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.active-star {
  color: orange;
}

.inactive-star {
  color: grey;
}

.review-text {
  font-size: 1.8rem;
  font-weight: 500;
}

/* ===================================== */
/* ======== NORMAL USER DASHBOARD ====== */

/* ====== NORMAL USER PREVIOUS EVENTS REVIEW PAGE ===== */
.event-review,
.registered-event {
  padding: 3.2rem;
  padding-left: 1.6rem;
}

.btn-rev:link,
.btn-rev:visited {
  font-size: 1.8rem;
  text-transform: uppercase;
  padding: 1.2rem 2.4rem;
  border: 4px solid hotpink;
  background-color: hotpink;
  color: #fff;
  text-align: center;
  border-radius: 1rem;
  /* margin: 0.8rem 1.2rem; */
  box-shadow: 0 0.1rem 0.2rem #777;
  transition: all 0.3s ease;
}

.btn-rev:hover,
.btn-rev:active {
  background-color: #fff;
  color: hotpink;
}

/* ====== WRITE A REVIEW SECTION ========== */
.add-a-review-section {
  background-color: #f1f3f5;
  padding: 3.2rem;
}

.form-container {
  background-color: #fff;
  padding: 1.6rem 3.2rem;
  border-radius: 1rem;
  box-shadow: 0 0.4rem 0.8rem #777;
}

.review-box-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.review-box-btn {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.btn-rev-cancel:link,
.btn-rev-cancel:visited {
  font-size: 1.8rem;
  text-transform: uppercase;
  padding: 1.2rem 2.4rem;
  border: 4px solid #212529;
  background-color: #212529;
  color: #fff;
  text-align: center;
  border-radius: 1rem;
  /* margin: 0.8rem 1.2rem; */
  box-shadow: 0 0.1rem 0.2rem #777;
  transition: all 0.3s ease;
}

.btn-rev-cancel:hover,
.btn-rev-cancel:active {
  background-color: #fff;
  color: #333;
}

.rev-textarea {
  margin: 1.2rem 0;
  width: 100%;
  background: #eee;
  border: none;
  outline: none;
  padding: 1.2rem 1.6rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  font-family: inherit;
  height: 10rem;
  resize: none;
}

/* =========== PROFILE EDIT PAGE ============== */
.change-backcover {
  margin-bottom: 0.8rem;
}

.bgcover-field {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.change-backcover label {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1.2rem 2.4rem;
  border-radius: 3rem;
  background-color: #212529;
  opacity: 0.6;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  transition: all 0.3s ease;
}

.change-backcover label:hover {
  opacity: 0.95;
  cursor: pointer;
}

.edit-profile-section {
  padding: 3.2rem;
}

.change-profile-photo-container {
  display: grid;
  align-items: center;
  margin: 1.2rem 0;
}

.profile-pic-display {
  height: 17rem;
  width: 17rem;
  background: url(./../../../public/profiledefault.png);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  justify-self: center;
  position: relative;
}

.profile-img-field {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
}

.btn-background {
  background-color: #777;
  height: 17rem;
  width: 17rem;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.3s ease;
}

.profile-pic-change-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.2rem;
}

.icon {
  cursor: pointer;
}

.btn-background:hover {
  opacity: 0.7;
  cursor: pointer;
}

.form-elements {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.4rem;
  align-items: center;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
}

.bio-input {
  grid-column: 1/-1;
}

.edit-profile-label {
  font-size: 2rem;
}

.edit-profile-label2 {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.form-input-container input,
.form-input-container select,
.form-input-container textarea {
  background-color: #eee;
  border: none;
  outline: none;
  width: 100%;
  padding: 1.2rem 1.6rem;
  border-radius: 1rem;
  font-family: inherit;
}

.form-input-container textarea {
  height: 10rem;
  resize: none;
}

.formbtns {
  margin: 2.4rem 0;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.btn-cancel:link,
.btn-cancel:visited {
  font-size: 1.8rem;
  text-transform: uppercase;
  padding: 1.2rem 2.4rem;
  border: 4px solid #212529;
  background-color: #212529;
  color: #fff;
  text-align: center;
  border-radius: 1rem;
  /* margin: 0.8rem 1.2rem; */
  box-shadow: 0 0.1rem 0.2rem #777;
  transition: all 0.3s ease;
}

.btn-cancel:hover,
.btn-cancel:active {
  background-color: #fff;
  color: #333;
}

.btn-save:link,
.btn-save:visited {
  font-size: 1.8rem;
  text-transform: uppercase;
  padding: 1.2rem 2.4rem;
  border: 4px solid green;
  background-color: green;
  color: #fff;
  text-align: center;
  border-radius: 1rem;
  /* margin: 0.8rem 1.2rem; */
  box-shadow: 0 0.1rem 0.2rem #777;
  transition: all 0.3s ease;
}

.btn-save:hover,
.btn-save:active {
  background-color: #fff;
  color: green;
}

/* ===================================================== */
/* ===================================================== */
/* ================ SEARCH EVENTS PAGE ================= */
.search-box-section {
  /* background-color: #333; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4.8rem 0;
}

.search-box-container {
  /* width: 75%; */
  padding: 0 2.4rem;
  display: flex;
  align-items: center;
  /* gap: 1.8rem; */
  font-size: 2.4rem;
  background-color: #f1f3f5;
  border-radius: 3rem;
}

.border {
  display: flex;
  align-items: center;
  border: 2px solid #212529;
  border-radius: 3rem;
  box-shadow: 0 0.4rem 0.8rem #777;
}

.searchbox {
  width: 45rem;
  background-color: #eee;
  border: none;
  outline: none;
  padding: 1.2rem 1.6rem;
  font-family: inherit;
}

.btn-search:link,
.btn-search:visited {
  color: #fff;
  background-color: #212529;
  /* padding: 0.6rem 0.8rem; */
  padding: 1rem 1.2rem;
  padding-right: 1.6rem;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  /* border: 4px solid #212529; */
}

/* .btn-search:hover,
.btn-search:active {
  color: #333;
  background-color: #fff;
} */

.search-icon {
  background-color: #212529;
  color: #fff;
  padding: 1rem 1.2rem;
  padding-left: 1.6rem;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
}

.search-results-section {
  padding: 1.6rem 3.2rem;
}

.reg-now-btn:link,
.reg-now-btn:visited,
.view-org-evnt-btn:link,
.view-org-evnt-btn:visited {
  text-align: center;
  padding: 1.2rem 0;
  border-radius: 1rem;
  margin: 1rem 1.2rem;
  font-size: 1.8rem;
  border: 5px solid #212529;
  background-color: #212529;
  color: #fff;
  box-shadow: 0 0.2rem 0.4rem #777;
  transition: all 0.3s ease;
}

.reg-now-btn:hover,
.reg-now-btn:active,
.view-org-evnt-btn:hover,
.view-org-evnt-btn:active {
  background-color: #fff;
  color: #333;
  box-shadow: 0 0.4rem 0.8rem #777;
}

.famous-evnt-org-section {
  padding: 1.6rem 3.2rem;
}

.org-card {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0.2rem 0.4rem #777;
  padding-top: 2.4rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.3s ease;
}

.org-card:hover {
  /* transform: translateY(-1rem); */
  box-shadow: 0 0.8rem 1.6rem #777;
}

.org-img {
  height: 17rem;
  width: 17rem;
  background: url(./../../../public/avatar2.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  align-self: center;
}

.org-name {
  align-self: center;
  /* margin: 1.2rem 0; */
}

.if-evnt-org,
.if-evnt-count,
.if-tickets-avail {
  color: blueviolet;
}

.if-happy,
.if-city {
  /* color: brown; */
  /* color: chocolate; */
  /* color: coral; */
  color: cornflowerblue;
}

/* ===================================================== */
/* ========== REGISTER EVENT FROM SEARCH PAGE ========== */
.event-title-input-box {
  color: #fff;
  background: 0;
  border: 0;
  width: 80%;
  outline: none;
  font-size: 3.6rem;
  font-family: inherit;
  transition: padding 0.3s 0.2s ease;
}

.event-title-input-box::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

/* .event-details-form-section {
  padding: 3.2rem;
} */

.event-details-container {
  display: grid;
  grid-template-columns: 1fr 0.7fr;
}

.event-descrip-box {
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
  background: 0;
  font-family: inherit;
  font-size: 2rem;
  font-weight: 500;
  resize: none;
}

.details-card-container {
  padding: 3.2rem;
  padding-left: 1.6rem;
}

.in-event-details {
  background: 0;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 1.6rem;
  margin-left: 1.2rem;
  color: inherit;
}

.in-time {
  width: 8rem;
}

.in-reg-close {
  width: 10rem;
}

.create-event-section {
  padding: 3.2rem;
  padding-top: 0rem;
}

.create-evt-btn:link,
.create-evt-btn:visited {
  text-align: center;
  padding: 1.2rem 2.4rem;
  border-radius: 1rem;
  font-size: 1.8rem;
  border: 5px solid #212529;
  background-color: #212529;
  color: #fff;
  box-shadow: 0 0.2rem 0.4rem #777;
  transition: all 0.3s ease;
}

.create-evt-btn:hover,
.create-evt-btn:active {
  background-color: #fff;
  color: #333;
}
